# Database Configuration
# Untuk development lokal
DATABASE_URL="mysql://fafarasa:fafarasa@localhost:3306/fafarasa"

# Untuk production di VPS (dari container ke MySQL lokal)
# DATABASE_URL="mysql://fafarasa:fafarasa@host.docker.internal:3306/fafarasa"

# Environment
NODE_ENV=production

# Port (opsional)
PORT=3000

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"

# Admin Credentials
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin123" 