# Database Configuration
# Untuk development lokal
DATABASE_URL="mysql://fafarasa:fafarasa@localhost:3306/fafarasa"

# Untuk production di VPS (dari container ke MySQL lokal)
# DATABASE_URL="mysql://fafarasa:fafarasa@host.docker.internal:3306/fafarasa"

# Environment
NODE_ENV=production

# Port (opsional)
PORT=3000 

# OAuth - Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET="" 